@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.root {
  color-scheme: light dark;
}
html {
  height: 100lvh;
  min-height: -webkit-fill-available;
}
body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  min-height: auto;
  scroll-behavior: smooth;
  --tw-bg-opacity: 1;
  background-color: var(--fallback-b1, oklch(var(--b1) / var(--tw-bg-opacity)));
}

.scroll-to-top-btn {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */
  transition: transform 0.3s ease-in-out; /* Added transition for smooth effect */
}

.scroll-to-top-btn:hover {
  transform: translateY(-5px); /* Move up on hover */
}
.scroll-to-top-btn:hover:active {
  transform: translateY(5px); /* Move down on click */
}

.text-balance {
  text-wrap: balance;
}

.innerWrapper > svg {
  color: #414141;
}